# NVidia TensorRT Support (amd64 only)
nvidia-pyindex; platform_machine == 'x86_64'
nvidia-tensorrt; platform_machine == 'x86_64'
cuda-python; platform_machine == 'x86_64'
cython; platform_machine == 'x86_64'
nvidia-cuda-runtime-cu12 ; platform_machine == 'x86_64'
nvidia-cublas-cu12; platform_machine == 'x86_64'
nvidia-cudnn-cu12; platform_machine == 'x86_64'
nvidia-cuda-nvrtc-cu12; platform_machine == 'x86_64'